$color-fondos: rgba(86, 123, 243, 0.767);
$color: black;
$imgfondo : "../../images/cinema.jpg";
$blanco: #ffffff;
$color-fondo:  rgb(182, 108, 65);

@mixin movil {
    @media only screen and (max-width: 361px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 651px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }
  
h1{
    color: white;
}

.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}

.btn-detalles{
    background-color: $color-fondo;
    color: white;
    float: left;
    margin-right: 1em;
    height: 28px;
    width: 6em;
    border: 2px solid $blanco;
    margin-top: 1px;
    &:hover{
        background-color: $blanco; 
        color: black;
        border: 2px solid $color-fondo;
    }    
}