h1 {
  color: white; }

.pagina {
  position: absolute;
  min-height: 60px;
  height: 100%;
  width: 100%;
  background-image: url("../../images/cinema.jpg");
  background-image: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.btn-detalles {
  background-color: #b66c41;
  color: white;
  float: left;
  margin-right: 1em;
  height: 28px;
  width: 6em;
  border: 2px solid #ffffff;
  margin-top: 1px; }
  .btn-detalles:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid #b66c41; }

/*# sourceMappingURL=vista2-compilado.css.map */
