$imgfondo : "../../images/cinema.jpg";
$color-fondo: rgb(182, 108, 65);


@mixin movil {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 830px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }

.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}

.cabecera{
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}

.padre{

    width: 100%;
    height: 100%;
    
}

.DivIzquierdo{
    float: left;
    width: 40%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.DivIzquierdo img{
    height: 78%; 
    width: 50%;
    left: 0;
    margin-top: 4em;
    margin-right: 15em;
    position: absolute;
    @include tablet{
        
    }
}

.DivDerecho{
    float: right;
    height: 80%;
    width: 40%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    @include tablet{
        font-size: 0.9em;
    }
    @include movil{
        font-size: 0.7em;
    }
    
}

.etiqueta{
  
    padding: 1em;
    display: block;
    
}

.volver{

    position:absolute;
    background-color: $color-fondo;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    height: 28px;
    width: 6em;
    bottom: 6em;
    left: 10em;
    &:hover{
        background-color: white; 
        color: black;
        border: 2px solid $color-fondo;
    }   

}
