.pagina {
  position: absolute;
  min-height: 60px;
  height: 100%;
  width: 100%;
  background-image: url("../images/cinema.jpg");
  background-image: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.cuadrado {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 2%;
  border-radius: 3px;
  border-style: solid;
  background-color: rgba(86, 123, 243, 0.767);
  font-size: 1.5em;
  font-weight: bolder; }
  .cuadrado border {
    color: black;
    width: 3px; }
  @media only screen and (max-width: 651px) {
    .cuadrado {
      position: absolute;
      top: 1%;
      left: 50%;
      padding: 2%;
      border-radius: 3px;
      border-style: solid;
      background-color: rgba(86, 123, 243, 0.767);
      font-size: 1.3em;
      font-weight: bolder; }
      .cuadrado border {
        color: black;
        width: 3px; } }

.cabecera {
  padding: auto;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 0; }
  @media only screen and (max-width: 361px) {
    .cabecera {
      font-size: 0.5em; } }

.formulario {
  padding: 3px;
  flex-direction: column; }

.formulario input {
  border-radius: 3px;
  border: 1px solid black;
  padding-right: auto;
  height: 18px; }

.formulario .input1 {
  margin-bottom: 5px; }

.formulario .etiqueta1 {
  display: inline;
  margin-right: 27px; }

.formulario .input2 {
  margin-right: 30px; }

.formulario img {
  width: 1.2em;
  margin-right: 3em; }

.botonazo {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1136ad;
  border-radius: 6px;
  border: 2px solid #ffffff; }
  .botonazo:hover {
    color: #1883ba;
    background-color: #ffffff; }
  @media only screen and (max-width: 651px) {
    .botonazo {
      margin-top: 1em; } }
  @media only screen and (max-width: 361px) {
    .botonazo {
      margin-top: 1em; } }

/*# sourceMappingURL=login-compilado.css.map */
