$color-fondos: rgba(86, 123, 243, 0.767);
$color: black;
$imgfondo : "../images/cinema.jpg";
$blanco: #ffffff;
@mixin movil {
    @media only screen and (max-width: 361px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 651px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }


.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}

.cuadrado{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 2%;
    border-radius: 3px;
    border-style: solid;
    border{
        color: $color;
        width: 3px;
      
    }
   background-color: $color-fondos;
    font-size: 1.5em;
    font-weight: bolder;
    @include tablet{
        position: absolute;
        top: 1%;
        left: 50%;
        padding: 2%;
        border-radius: 3px;
        border-style: solid;
        border{
            color: $color;
            width: 3px;
          
        }
        background-color: $color-fondos;
        font-size: 1.3em;
        font-weight: bolder;
    }
   

}
.cabecera{
    padding: auto;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    margin-top: 0;
    @include movil{
        font-size: 0.5em;
    }
    
}

.formulario{
    padding: 3px;
    flex-direction: column;
}



.formulario input{
    border-radius: 3px;
    border: 1px solid $color; 
    padding-right: auto;
    height: 18px;
    
}   

.formulario .input1{
    margin-bottom: 5px;
    
}

.formulario .etiqueta1{
    display: inline;
    margin-right: 27px;
     
}
.formulario .input2{
    margin-right: 30px;
}

.formulario img{
    width: 1.2em;
    margin-right: 3em;
   
}

.botonazo{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: $blanco;
    background-color: #1136ad;
    border-radius: 6px;
    border: 2px solid $blanco;
    &:hover{
        color: #1883ba;
        background-color: $blanco; 
    }
    @include tablet{
        margin-top: 1em;
    }
    @include movil{
        margin-top: 1em;
    }
}
