/*$color-fondos: rgba(86, 123, 243, 0.767);
$color: black;
$imgfondo : "../../images/cinema.jpg";
$blanco: #ffffff;
h1{
    color: white;
}

.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}*/

@mixin movil {
    @media only screen and (max-width: 361px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 651px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }
$color-fondo: rgb(192, 108, 65);
$blanc: white;
.barra{
    float: right;
    overflow: auto;
    height: 20px;
    width: 20em;
    left: 1300px;
    top: 120px;
    border-radius: 5px;
    background-color: $color-fondo;
    color: $blanc;
    border-color: $blanc;
    clear: none;
    @include movil{
        width: 15em;

    }

    
}

.btonbusqueda{

    float:right;
    height: 25px;
    width: 5em;
    margin-right: 1em;
    top: -20px;
    clear: none;
    position: relative;
    border-radius: 5px;
    background-color: $color-fondo;
    color: $blanc;
    border-color: $blanc;
    &:hover{
        background-color: $blanc; 
        color: black;
        border: 2px solid $color-fondo;
    } 
    @include movil{
        width: 4em;
        font-size: 15px;
        top: 0px;
        float: right;
        position: absolute;
        background-color: $color-fondo;
        border-radius: 5px;
        color: $blanc;
        
    }
}