/*$color-fondos: rgba(86, 123, 243, 0.767);
$color: black;
$imgfondo : "../../images/cinema.jpg";
$blanco: #ffffff;
h1{
    color: white;
}

.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}*/
.barra {
  float: right;
  overflow: auto;
  height: 20px;
  width: 20em;
  left: 1300px;
  top: 120px;
  border-radius: 5px;
  background-color: #c06c41;
  color: white;
  border-color: white;
  clear: none; }
  @media only screen and (max-width: 361px) {
    .barra {
      width: 15em; } }

.btonbusqueda {
  float: right;
  height: 25px;
  width: 5em;
  margin-right: 1em;
  top: -20px;
  clear: none;
  position: relative;
  border-radius: 5px;
  background-color: #c06c41;
  color: white;
  border-color: white; }
  .btonbusqueda:hover {
    background-color: white;
    color: black;
    border: 2px solid #c06c41; }
  @media only screen and (max-width: 361px) {
    .btonbusqueda {
      width: 4em;
      font-size: 15px;
      top: 0px;
      float: right;
      position: absolute;
      background-color: #c06c41;
      border-radius: 5px;
      color: white; } }

/*# sourceMappingURL=ComponenteBusqueda-compilado.css.map */
