
$imgfondo : "../images/cinema.jpg";
$blanc: #ffffff;
$color-fondo: rgb(182, 108, 65);

@mixin movil {
    @media only screen and (max-width: 361px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }

.pagina{
    position: absolute;
    min-height: 60px;
    height: 100%;
    width: 100%;
    background-image: url($imgfondo);
    background-image: no-repeat;
    background-size: cover;    
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
   
}

.titulo{
    
 //   float: right;
    width: auto;
    padding: 10px;
    color: $blanc;
    font-size:  20px;
    font-weight: bolder; 
    border: 2px solid $blanc;
    background-color: $color-fondo;
    top: -29px;
    clear: none;
}

img{    
    left: 25em;
    height: 100%;
    width: 30%;
    border: 3px solid $blanc;
   transform: translate(100%);
    @include tablet{
        width: 50%;
        left: -15em;
        transform: translate(10%);
    }

}

.imagen{
    
    height: 65%;  
    position: fixed;
    width: 80%;
    margin-left: 10em;
    
    @include tablet{
        position: absolute;
    }
}