.pagina {
  position: absolute;
  min-height: 60px;
  height: 100%;
  width: 100%;
  background-image: url("../images/cinema.jpg");
  background-image: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.titulo {
  width: auto;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  border: 2px solid #ffffff;
  background-color: #b66c41;
  top: -29px;
  clear: none; }

img {
  left: 25em;
  height: 100%;
  width: 30%;
  border: 3px solid #ffffff;
  transform: translate(100%); }
  @media only screen and (max-width: 480px) {
    img {
      width: 50%;
      left: -15em;
      transform: translate(10%); } }

.imagen {
  height: 65%;
  position: fixed;
  width: 80%;
  margin-left: 10em; }
  @media only screen and (max-width: 480px) {
    .imagen {
      position: absolute; } }

/*# sourceMappingURL=pelicula-compilado.css.map */
